*{
    box-sizing: border-box;
}

table{
    width: 90%;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

td,th{
    padding: 10px;
}

tr:nth-of-type(odd){
    background-color: #222;
}

tr:nth-of-type(even){
    background-color: #444;
}


@media (max-width:1024px){
    
    body {
        background-color: #000;
        color: #84f074;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    header {
        text-align:center;
        background-repeat: no-repeat;
        height: 128px;
        background-color: #111;
        color: #84f074;
        padding-top: 20px;
        border-bottom: 5px solid #000;
    }

    header a:link,a:visited {
        text-decoration: none;
        color: #09a909;
    }

    header a:hover{
        text-decoration: none;
        color: #84f074;
    }

    nav {font-size: 1.5em;}

    nav a{text-decoration: none;}

    nav ul{
        text-align: center;
        list-style-type: none;
        flex-direction: column;
        margin: 0;
        padding: 0;
        font-size: 1.25em;
        background-color: #222;
    }

    nav li{
        padding-bottom: 0.5em;
        padding-top: 0.5em;
        padding-left: 1em;
        padding-right: 1em;
        width: 100%;
        border-bottom: 5px solid #000;
    }

    nav a:link{color:#09a909;}
    nav a:visited{color:#09a909;}
    nav a:hover{color:#84f074;}

    main {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 20%;
        display: block;
        background-color: #333;
    }


    footer {
        text-align:center;
        background-color: #111;
        padding: 1em;
    }

    main h2,h3,h4,p,div,ul,dl {
        padding-left: 1em;
        padding-right: 1em;
    }

    main a {
        margin-left: 2em;
    }

    main ul{
        padding-left: 2em;
    }

    form {
        display:flex;
        flex-direction: column;
        padding-left: 1em;
        width:80%;
    }

    form input{
        margin-bottom: 0.5em;
        margin-left:auto;
        margin-right: auto;
    }

    #homehero {
        background-image: url(img/homePic.jpg);
        height:300px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #abouthero {
        background-image: url(img/purdue.jpg);
        height:300px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #contacthero{
        background-image: url(img/aboutPic.jpg);
        height:300px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #wrapper {
        background-color: #222;
        padding: 0;
    }
}

/* desktop layout */
@media(min-width:1024px){
    body {
        background-image: url(img/background.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        color: #84f074;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    header {
        background-image: none;
        text-align:center;
        background-color: #111;
        color: #231814;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    header a:link,a:visited {
        text-decoration: none;
        color: #09a909;
    }

    header a:hover{
        text-decoration: none;
        color: #84f074;
    }

    nav {
        text-align: center;
        font-weight: bold;
        font-size: 1.5em;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    nav a{
        text-decoration: none;
        float: left;
    }

    nav ul{
        text-align: center;
        list-style-type: none;
        display: block;
    }

    nav a:link{color:#09a909;}
    nav a:visited{color:#09a909;}
    nav a:hover{color:#84f074;}

    main {
        padding-left: 0;
        padding-right: 0;
        margin-left: 200px;
        padding-top: 0;
        padding-bottom: 20%;
        display: block;
        background-color: #333;

    }

    footer {
        text-align:center;
        background-color: #111;
        padding: 1em;
    }

    footer a {
        margin-left: 1em;
        margin-right: 1em;
    }

    main ul,dl {
        padding-left: 3em;
        padding-right: 2em;
    }

    main p,h2,h3,h4 {
        padding-left: 1em;
    }

    main a {
        padding: 2em;
    }

    .floatleft {
        float: left;
        padding-bottom: 2em;
    }
    
    form {
        display:grid;
        grid-template-columns: 6em 1fr;
        column-gap: 1em;
        padding-left: 1em;
        width:40%;
    }
    
    input{
        margin-bottom: 0.5em;
        grid-column: 2;
        width: fit-content;
    }

    #homehero {
        background-image: url(img/homePic.jpg);
        height: 50vh;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center;
    }

    #abouthero{
        background-image: url(img/purdue.jpg);
        height: 50vh;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center;
    }

    #contacthero{
        background-image: url(img/aboutPic.jpg);
        height: 50vh;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center;
    }

    #logohero {
        background-image: url(img/logo.png);
        height: 150px;
        margin-left: 1em;
        background-position: center;
        background-size:contain;
        background-repeat: no-repeat;
    }

    #wrapper {
        margin-right: auto;
        margin-left: auto;
        width: 80%;
        background-color: #222;
        min-width: 900px;
        max-width: 1280px;
        padding: 0;
    }
}